* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

:root {
  --neutral-50: #fafafa;
  --red-50: #fef2f2;
  --red-300-tr: rgba(252, 165, 165, 0.3);
  --red-500: #ef4444;
  --red-500-tr: rgba(239, 68, 68, 0.3);
  --neutral-500-tr: rgba(115, 115, 115, 0.3);
  --neutral-300: #d4d4d4;
  font-size: 16px;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: var(--red-500);
  color: var(--neutral-50);
  padding: 1rem 2rem;
  width: 100vw;
}

.header__avatars {
  display: flex;
  gap: 0.8rem;
}

.avatar {
  text-align: center;
}

.avatar__img {
  border-radius: 50%;
  width: 60px;
}

.body {
  width: 100vw;
  display: flex;
  overflow-x: scroll;
  position: relative;
  z-index: 0;
  left: 0;
}

.body__img {
  background-image: url("./images/bg.jpg");
  background-size: 1500px;
  width: 1500px;
  height: calc(1500px * 0.617);
}

.target {
  position: relative;
  z-index: 1;
  width: 70px;
  height: 70px;
  background-color: var(--red-500-tr);
  border: 5px solid var(--red-500);
}

.selection {
  background-color: var(--neutral-50);
  width: fit-content;
  padding: 1rem;
  position: relative;
  z-index: 1;
}
.avatar--selection {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  border-bottom: 2px solid var(--neutral-300);
  cursor: pointer;
}
.avatar__img--selection {
  width: 40px;
  border: 0.5px solid var(--neutral-300);
}

.mark {
  width: 80px;
  height: 80px;
  border: 3px solid var(--red-50);
  background-color: var(--red-300-tr);
  z-index: 1;
}

.notification {
  width: fit-content;
  height: fit-content;
  padding: 1rem;
  color: var(--red-500);
  background-color: var(--neutral-50);
  position: fixed;
  left: 50vw;
  top: 5rem;
}

.start-modal,
.end-modal {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--neutral-500-tr);
}

.start-modal__content,
.end-modal__content {
  background-color: var(--red-500);
  color: var(--neutral-50);
  margin: 10% auto;
  width: fit-content;
  height: fit-content;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.start-modal__input {
  border: none;
  border-bottom: 2px solid var(--neutral-50);
  background-color: var(--red-500);
  font-size: 1.5rem;
  color: var(--neutral-50);
  text-align: center;
}

.start-modal__input:focus {
  outline: none;
}

.end-modal__score {
  font-size: 3rem;
}

.end-modal__leaderboards {
  max-width: 300px;
  overflow-y: scroll;
  padding: 0rem 1rem;
}

.end-modal__leaderboards-item {
  display: flex;
  gap: 3rem;
}

.end-modal__buttons {
  display: flex;
  gap: 1rem;
}

.button {
  border: 2px solid var(--neutral-50);
  background-color: transparent;
  color: var(--neutral-50);
  padding: 0.2rem 0.8rem;
  cursor: pointer;
}
